[submodule "Core/lib/entt"]
	path = Core/lib/entt
	url = https://github.com/skypjack/entt
[submodule "Core/lib/glfw"]
	path = Core/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "Core/lib/glm"]
	path = Core/lib/glm
	url = https://github.com/g-truc/glm
[submodule "Core/lib/reactphysics3d"]
	path = Core/lib/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d
[submodule "Core/lib/spdlog"]
	path = Core/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Core/lib/imgui/imgui"]
	path = Core/lib/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Core/lib/sol2"]
	path = Core/lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "Core/lib/assimp"]
	path = Core/lib/assimp
	url = https://github.com/assimp/assimp
[submodule "Core/lib/cereal"]
	path = Core/lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "Core/lib/crossguid"]
	path = Core/lib/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "Demo/lib/implot"]
	path = Demo/lib/implot
	url = https://github.com/epezent/implot.git
